body {
    background: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

}

/* header */

header {}

header .top-header {
    background: #666666;


    color: #fff;
    font-size: 1.0rem;
    padding: 15px;
}

.top-header a {
    display: inline-block;
    text-decoration: none;
    margin-left: 1100px;
    background: #7aa93c;
    color: #fff;
    padding: 5px 10px;
    border-radius: 10%;

}

.top-header a:hover {
    background: green;
}


/* lien he */
.lienhe {
    margin-top: -17px;
    background: #262626;
    padding: 20px;
}

header .lienhe li {

    display: inline-block;
    padding: 0 15px;
}

header .lienhe a:hover {
    display: inline-block;
    border-radius: 100px;
    background: red;
}

header .lienhe li a {
    text-decoration: none;
    color: #fff;
}

header .thudientu {
    margin-left: 350px;
}



/* asibu */
.asibu li {
    display: inline-block;
    margin: 20px 0;
    width: 100px;
    padding: 0 10px;
    font-weight: bold;


}

.asibu li a {

    text-decoration: none;
    color: #000;
}

.asibu li a:hover {
    color: red;
}

.asibu .btn {
    background: red;
    border-radius: 100px;
    padding: 15px 55px;
    border: 2px solid gray;
    color: #fff;
    font-size: 1.2rem;
}

.asibu .btn:hover {
    background: #262626;

}



/* Main-content */
.main-content {
    background-image: url(http://asibu.payo-themes.com/images/slide-top.jpg);
    background-size: cover;
    padding: 150px 0;

}

.main-content .item {
    font-size: 1.5em;
}

.main-content h1 {
    font-size: 4.5rem;
}

.main-content .btn-a {
    display: inline-block;
    text-decoration: none;
    color: #000;
    border-radius: 100px;
    background: #fff;
    padding: 20px 40px;
    font-weight: bold;
}

.main-content .btn-a:hover {
    background: #000;
    color: #fff;
}

.main-content .btn-b {
    display: inline-block;
    text-decoration: none;
    color: #000;
    background: #fff;
    border-radius: 100px;
    padding: 20px 40px;
    font-weight: bold;
    background: red;
}

.main-content .btn-b:hover {
    background: #fff;
}


/*  quang ba */
.advertise {
    text-align: center;
    margin: 100px 0;
    background: #fff;
    padding: 100px;
}

.advertise .icon1 {
    font-size: 5.5rem;
    color: red;
}

.advertise .item1 {
    text-decoration: none;
    font-size: 2.5rem;
    color: #000;
}

.advertise:hover {}

/* EXPERT */
.expert {}

.expert .item1 {
    margin-left: 60%;
    color: red;
    font-weight: bold;
    font-size: 1.2rem;
}

.expert .item1 a {
    display: inline-block;
    border-radius: 50%;
    padding: 5px 5px;
    ;
    border: 2px solid red;

}

.expert h2 {
    font-size: 4.0rem;
}


.expert .btn {
    display: inline-block;
    margin-left: 60%;
    background: red;
    color: #fff;
    border-radius: 100px;
    padding: 10px 35px;
}

.expert .btn:hover {
    background: #000;
}

.expert .logo {

    background: url(../img/image-right-creative3.jpg);
}


/* main-content1 */

.main-content1 {
    text-align: center;
    margin: 40px;
}

.main-content1 .box {
    display: inline-block;
    border-radius: 100%;
    border: 2px solid red;
    padding: 10px 10px;
}

.main-content1 a {
    text-decoration: none;
    color: red;
}

.main-content1 p {
    font-size: 3.5rem;
    font-weight: bold;
}

/* quang ba 2 */

.advertise2 {
    text-align: center;
    padding: 70px;
    background: #fff;
}


.advertise2 .icon1 {
    display: inline-block;
    padding: 25px;
    font-size: 4.0rem;
    border-radius: 100%;
}

.advertise2 .icon1:hover {
    background: red;
    border-radius: 100%;
}

.advertise2 .item1 {
    font-size: 2.0rem;
}

/* quang ba3 */
.advertise3 {
    text-align: center;
    margin-top: 50px;
    background: #fff;
    padding: 70px
}

.advertise3 .icon1 {
    display: inline-block;
    font-size: 4.0rem;
    padding: 25px;
    border-radius: 100%;
}


.advertise3 .icon1:hover {
    background: red;
    border-radius: 100%;
}


.advertise3 .item1 {
    font-size: 2.0rem;
}

/* since 1990 */
.since1990 {
    background: url(../img/man-succed.png);
    background-size: cover;
    padding: 50px 0;
}

.since1990 .box {
    display: inline-block;
    border-radius: 100%;
    padding: 10px;
    border: 2px solid #000;
}

.since1990 .item1 {
    text-decoration: none;
    color: #000;
}

.since1990 h4 {
    padding: 50px 0;
    font-size: 3.5rem;
}

.since1990 .call {
    display: inline-block;
    font-size: 2.5rem;
    border-radius: 100%;
    color: red;
    background: gray;
    padding: 10px;
}

.since1990 a {
    text-decoration: none;
    font-size: 1.2rem;
    color: #000;
}

.since1990 p {
    font-size: 2.5rem;
}

/* project */
.project {
    padding-top: 200px;
}


.project .anh {
    background-size: cover;
    background-repeat: no-repeat;

}

.project .box {
    display: inline-block;
    background: #fff;
    border-radius: 100px;
    padding: 10px;
    border: 3px solid red;
}

.project a {
    text-decoration: none;
    color: red;
    font-size: 1.2rem;
}

.project h4 {
    font-size: 4.0rem;
}

.project .btn {
    border-radius: 100px;
    background: red;
    padding: 20px 40px;
    color: #fff;
}

.project .btn:hover {
    background: #000;
}


/* project 2 */

.project2 {
    margin-top: 100px;
    background: rgba(128, 128, 128,0.1);
}

.project2 .box {
    display: inline-block;
    background: #fff;
    border-radius: 100px;
    padding: 10px;
    border: 2px solid red;
}

.project2 a{
    text-decoration: none;
    color:red;
    font-size: 1.2rem;
}
.project2 p{
    font-size: 4.0rem;
}
.project2 .number{
    font-size: 4.0rem;
}
.project2 .item{
    font-size: 1.5rem;
}

/* ourwork */
.ourwork{
text-align: center;
margin-top: 100px;
}


.ourwork .box{
    display: inline-block;
background: #fff;
border-radius: 100px;
padding:10px;
border: 3px solid red;
}

.ourwork .item{
    color:red;
    font-size: 1.5rem;
    font-weight: bold;
}

.ourwork p{
    font-size: 3.0rem;
    font-weight: bold;
}


/* our clients */
.ourclients{
    margin-top: 100px;
    background: rgba(128, 128, 128,0.1);
    padding:200px;
}



.ourclients .box{
display: inline-block;
background: color;
border-radius: 100px;
padding:5px;
border: 2px solid red;
}
.ourclients a{
    text-decoration: none;
    color:red;
}
.ourclients h1{
    font-size: 4.0rem;
    font-weight: normal;
}


/* OUR NEWS */
.ournews{
    text-align: center;
    margin-top: 100px;;
}


.ournews .box{
    display: inline-block;
    border-radius: 100px;
    border: 2px solid red;
    padding:5px;
}
.ournews .item{
    color:red;
    font-weight: bold;
}
.ournews h2{
    font-size: 4.0rem;
}
.ournews .item1{
    font-size: 2.0rem;
}
.ournews p{
    font-size: 0.8rem;
}
.ournews .item1:hover{
    color:red;
}


/* message */
.messege{
    margin-left: 200px;
    margin-right:350px;
padding:100px;
    background: red;
    color:#fff;

   
}

.messege h3{
    font-weight: bold;
    font-size: 2.0rem;
}
.messege a{
    background: #fff;
    border-radius: 100px;
    padding:10px 30px;
    text-decoration: none;
    color:gray;
}

.messege .btn a{
    background: #fff;
    padding:50px 90px;
    color:gray;
}
.messege .item2{
    display: inline-block;
    text-align: center;
margin-top: 50px;
   border-radius: 100px;
   background: #000;
   padding:20px 50px;
   color:#fff;
}



/* footer */
footer{
    padding:100px;
    background: #666666;
}

footer h3{
    font-size: 2.0rem;
    color:#fff;
}
footer p{
    color:gray;
}

footer .item a{
    background: #fff;
    border-radius: 100px;
    padding: 20px 60px;
    text-decoration: none;
    color:gray;
    
}
footer .btn{
    margin-left: 50px;
    background: red;
    border-radius: 100px;
    color:#fff;

}


/* main-footer */
footer .main-footer {
    padding-top:100px;
    border-top: 5px solid gray;
   
}
footer .main-footer .link{
    font-size: 2.0rem;
    color:#fff;
}
footer .main-footer .itemall{
 color:gray;
}
footer .main-footer .itemall:hover{
    color:red;
}


/* last-footer */
.last-footer{
    margin-top: 200px;
    border-top: 5px solid gray;
    padding:-30px 0;
    color:#fff;
    font-size:1.5rem;
}

